<!-- /templates/page.liquid -->

<section class="page">
{% unless page.handle == "About" %} 
	<h1 class="page__title">{{ page.title }}</h1>
 {% endunless %}
	<div class="rte clearfix">{{ page.content }}</div>
</section>
